body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    background-color:lightgrey;
}

.bayan-container {
    width: 70%;
    margin: 40px auto;
}

.container input{
    display: none;
}

img {
    width: 400px;
    height: auto;
    display: block;
    margin: 20px auto;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

hr {
    margin-bottom: 20px;
}

.bayan-container label{
    position: relative;
    display: block;
    cursor: pointer;
    color:blue;
    font-size: 22px;
    font-weight: 700;
}

.container label:hover{
    color: black;
}

.bayan-container input:checked {
    background-image: url(http://netcribe.com/example/arrow_down.png);
}

.container input:checked + label:hover:after {
    background-image: url(http://netcribe.com/example/arrow_up.png);
}

.bayan-container input:checked ~ img{
    -webkit-transform:scale(0.75); /* Safari and Chrome */
    -moz-transform:scale(0.75); /* Firefox */
    -ms-transform:scale(0.75); /* IE 9 */
    -o-transform:scale(0.75); /* Opera */
    transform:scale(0.75);
    height: 0px;
    margin-bottom: 0;
}




